[submodule "external/calendar"]
	path = external/calendar
	url = https://github.com/Etar-Group/android_frameworks_opt_calendar.git
	branch = master
[submodule "external/ex"]
	path = external/ex
	url = https://github.com/Etar-Group/standalone-calendar-frameworks-ex.git
	branch = master
